@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #213547;
  background-color: #ffffff;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #1a1a1a #ffffff;
  scroll-behavior: smooth;
}
#root {
  width: 100%;
  margin: 0 auto;
}
input,
select {
  background-color: transparent;
  @apply border border-slate-200 rounded-md;
}
button.primary-btn,
div.primary-btn {
  @apply bg-spray-500 text-white hover:bg-spray-600 active:bg-spray-700 disabled:bg-spray-100 disabled:text-spray-400 border cursor-pointer rounded-md outline-none shadow-none;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}
.unstyled-button {
  @apply border-none bg-none p-0 text-inherit cursor-pointer active:border-none active:outline-none focus:outline-none;
}
.container-center {
  @apply container mx-auto;
}
